{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор данного проекта Диана</h1>
<p>
  Я только пробую себя в программирование, но хочу развиваться в данной сфере и не потерять тот запал и мотивацию,
  которые имела в начале.
</p>
    <img src="{% static 'img/me.jpg' %}" width="350" height="500" class="d-inline-block align-top" alt="">
<p>
    Я во Вконтакте:
    <a class="navbar-brand" href="https://vk.com/dianakabdulova">
    <span style="color:dodgerblue">Vk</span></a>
</p>
<p>
    Я в Инстаграм:
    <a class="navbar-brand" href="https://instagram.com/kabdulova_d">
    <span style="color:red">Instagram</span></a>
</p>
{% endblock %}